<div class="row">
    <div class="card text-dark mb-3" style="width: 20rem;margin: 20px;">
        <div class="card-header">
            <img [src]="flight.img" style="margin-top: 10px;height: 10rem;" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h3>Flight Number : {{flight.flightNo}}</h3>
            <p class="card-text">Arrival time : {{flight.arrivalTime}}</p>
            <p class="card-text">Departure time : {{flight.depature}}</p>
            <p class="card-text">Seats Available : {{flight.seatsAvailable}}</p>
            <p class="card-text">Ticket Price : {{flight.price}}</p>
        </div>
    </div>
    <div class="card text-dark mb-3" style="width: 20rem;margin: 20px;">
        <div class="card-body">
            <h3>Passenger Name : {{passenger.PName}}</h3>
            <p class="card-text">DOB : {{passenger.DOB}}</p>
            <p class="card-text">Gender : {{passenger.gender}}</p>
            <p class="card-text">Mobile Number : {{passenger.mobileNo}}</p>
            <p class="card-text">Email : {{passenger.email}}</p>
            <p class="card-text">Address : {{passenger.address}}</p>
            <p class="card-text">Pincode : {{passenger.pinCode}}</p>
            <p class="card-text">ID Number : {{passenger.idNo}}</p>
        </div>
    </div>
</div>


